.card {
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px rgb(170, 170, 170) groove;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, aliceblue, rgb(206, 218, 209));
  }
  
.borders {
  border-width: 2px;
  border-color: rgb(68, 68, 68);
}