<nav class="w-full text-white py-2 bg-neutral-900">
  <div class="py-1 sm:py-5 mr-8 xs:w-full xs:h-fit">
    <ul
      class="flex list-none justify-content-center sm:flex lg:gap-14 sm:gap-4 my-auto font-mono text-lg xs:text-xs"
    >
      <li class="hover:text-lime-600 hover:scale-110 cursor-pointer" (click)="home()">
        HOME
      </li>
      <li class="hover:text-lime-600 hover:scale-110 cursor-pointer">ABOUT</li>
      <li class="hover:text-lime-600 hover:scale-110 cursor-pointer">CONTACT US</li>
    </ul>
  </div>
</nav>
